[Unit]
Description=Geoserver H2
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=<path/to/compose/file>
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yml down

[Install]
WantedBy=default.target

