commands:
  01mkdir:
    command: "mkdir -p /mnt/geoserver"
  02mount:
    command: "ls /mnt/geoserver/data > /dev/null 2> /dev/null || mount /dev/sdh /mnt/geoserver"
  03restartdocker:
    command: "service docker restart"
 
option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdh=__block_device__

