files:
  "/etc/cron.d/reload_geoserver":
    mode: "000644"
    owner: root
    group: root
    content: |
      PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      */5 * * * * root curl -X PUT http://admin:$(docker inspect `docker ps -q` | sed 's/.*GS_ADMIN_PASS=\(.*\)/\1/;t;d' | head -c -3)@localhost/geoserver/rest/reload

